<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">
<head>
    <title>Authentication</title>
</head>
<body>

<div layout:fragment="content">
    <section>
        <h1>Authenticate with an Authenticator Device</h1>
        <p>This example Application shows you how to Register, Authenticate and Deregister using WebAuthn with Hanko.<br>
            For an in-depth walkthrough please refer to
            <a href="https://docs.hanko.io/#/auth/quickstart/webauthn/quick-start-webauthn-authenticate"> the docs.</a>
        </p>
        <button id="begin_authentication-button">Step 1: Invoke Authentication</button>
        <button id="finalize_authentication-button">Step 2+3: Sign and Send the Authentication Request</button>
    </section>
</div>

</body>
</html>