<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">
<head>
    <title>De-Registration</title>
</head>
<body>

<div layout:fragment="content">
    <section>
        <h1>De-Register an Authenticator Device</h1>
        <p>This example Application shows you how to Register, Authenticate and Deregister using WebAuthn with Hanko.<br>
            For an in-depth walkthrough please refer to
            <a href="https://docs.hanko.io/#/auth/quickstart/webauthn/quick-start-webauthn-de-registration"> the docs.</a>
        </p>
        <button id="begin_deregistration-button">Step 1: Send De-Registration Request</button>
    </section>
</div>

</body>
</html>