<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/hanko-webauthn@1.1.2/dist/umd/index.min.js"></script>
    <script th:src="@{/js/app.js}"></script>
    <script>
        app.run();
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<header>
    <img class="logo" th:src="@{/images/hanko-logo.png}" alt="Hanko Logo"/>
</header>
<nav>
    <ul>
        <li><a th:href="@{/show_registration}">Registration</a></li>
        <li><a th:href="@{/show_authentication}">Authentication</a></li>
        <li><a th:href="@{/show_deregistration}">De-Registration</a></li>
    </ul>
</nav>
<main>
    <section layout:fragment="content">
        <p>Content section</p>
    </section>
    <section>
        <table>
            <tr>
                <th>Request Id:</th>
                <td id="request_id-text"></td>
            </tr>
            <tr>
                <th>Operation:</th>
                <td id="operation-text"></td>
            </tr>
            <tr>
                <th>Valid Until:</th>
                <td id="valid_until-text"></td>
            </tr>
            <tr>
                <th>Status:</th>
                <td id="status-text"></td>
            </tr>
        </table>
    </section>
    <section id="error-text"></section>
    <section>Current UserId: [[${userId}]]</section>
</main>
<footer>
    <section>
        <a href="https://docs.hanko.io/#/auth/quickstart/webauthn/quick-start-webauthn">WebAuthn Quick Start Guide</a>
    </section>
</footer>
</body>
</html>