<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">
<head>
    <title>Registration</title>
</head>
<body>

<div layout:fragment="content">
    <section>
        <h1>Register an Authenticator Device</h1>
        <p>This example Application shows you how to Register, Authenticate and Deregister using WebAuthn with Hanko.<br>
            For an in-depth walkthrough please refer to <a href="https://docs.hanko.io/#/auth/quickstart/webauthn/quick-start-webauthn-registration"> the docs.</a>
        </p>
        <button id="begin_registration-button">Step 1: Invoke Registration</button>
        <button id="finalize_registration-button">Step 2+3: Generate Key Pair and Send Public Key</button>
    </section>
</div>

</body>
</html>